@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import "tailwindcss";


:root {
  /* --background: #ffffff; */
  --background: #171810;
  /* --foreground: #ffffff; */
  --foreground: #171810;
  /* --font-sans: 'DM Sans', sans-serif; */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #ffffff; */
    --background: #171810;
    /* --foreground: #ededed; */
    --foreground: #171810;
  }
}

body {
  background: var(--background);
  color: #adadad;
  /* font-family: var(--font-sans); */
  font-family: 'DM Sans', sans-serif;
}

/* 
main{
  background: var(--background);
  color: white;
  font-family: var(--font-sans); 
} */

input:-webkit-autofill,
textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #1f211a inset !important;
  -webkit-text-fill-color: #adadad !important;
  color: #adadad !important;
  caret-color: #adadad !important;
  transition: background-color 5000s ease-in-out 0s;
}